name: Go Unit Tests

on:
  push:
    branches:
      - main
      - 'feature/**'
      - 'fix/**'
    paths: # Only run if Go files or go.mod/go.sum change
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go-tests.yml'
  pull_request:
    branches:
      - main
    paths: # Only run if Go files or go.mod/go.sum change
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go-tests.yml'

permissions:
  contents: write # To checkout the code
  # The ncruces/go-coverage-report action writes to the repository's wiki.

jobs:
  # TODO: Find linter compatible with Go 1.26 and re-enable linting
  # lint_golang_packages:
  #   name: Lint Golang packages
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v6

  #     - name: Set up Go
  #       uses: actions/setup-go@v5
  #       with:
  #         go-version: '1.26'

  #     - name: Run golangci-lint
  #       uses: golangci/golangci-lint-action@v6
  #       with:
  #         version: latest
  #         working-directory: cmd
  #         args: --timeout=5m

  test_golang_packages:
    name: Unit test Golang packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.26"
          cache: true # Enables caching of Go modules and build cache

      - name: Run tests and generate coverage profile
        run: |
          echo "Running tests and generating coverage.out..."
          go test -v -coverprofile=coverage.out -covermode=atomic -race ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # Required for private repos, good practice for public
          files: ./coverage.out # Path to your coverage report file
          verbose: true # Produces more verbose output from the Codecov action